#textdomain wesnoth-millennium-era

[unit_type]
    id=Centaur Fighter
    name= _ "Centaur Fighter"
    race=mie_centaur
    image="units/centaurs/fighter.png"
    hitpoints=36
    movement_type=centaurfoot
    movement=7
    experience=38
    level=1
    alignment=neutral
    advances_to=Centaur Warrior
    cost=17
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}
    
    [attack]
        name=sword
        description=_"sword"
        icon="attacks/sword-centaur.png"
        type=blade
        range=melee
        damage=5
        number=4
	[/attack]
	
	{GENERIC_MOUNTED_SWORD_ANIM sword "units/centaurs/fighter.png"}
    
    {DEFENSE_ANIM "units/centaurs/fighter.png" "units/centaurs/fighter.png" {SOUND_LIST:HUMAN_HIT}}  
[/unit_type]
