#textdomain wesnoth-millennium-era

[textdomain]
	name="wesnoth-millennium-era"
	path="data/add-ons/Millennium_Era/translations/"
[/textdomain]

#ifdef MULTIPLAYER

[binary_path]
	path="data/add-ons/Millennium_Era/"
[/binary_path]

{~add-ons/Millennium_Era/modifications/}
{~add-ons/Millennium_Era/utils/}
{~add-ons/Millennium_Era/factions/}
{~add-ons/Millennium_Era/eras/}
{~add-ons/Millennium_Era/images/}

[+units]
	{~add-ons/Millennium_Era/units}
	{~add-ons/Millennium_Era/units/wolves}
	{~add-ons/Millennium_Era/units/human-outlaws}
	{~add-ons/Millennium_Era/units/human-thelians}
	{~add-ons/Millennium_Era/units/vampires}
	{~add-ons/Millennium_Era/units/centaurs}
	{~add-ons/Millennium_Era/units/cornurs}
	{~add-ons/Millennium_Era/units/spirits}
	{~add-ons/Millennium_Era/units/faeries}
	{~add-ons/Millennium_Era/units/treefolk}
[/units]

#endif