#textdomain wesnoth-millennium-era

[unit_type]
    id=Cornur Crook
    name= _ "Cornur Crook"
    race=cornur
    image="units/cornurs/cornur-crook.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
	movement_type=cornurfoot
	{MOVEMENT_SWAMP_VILLAGERS}
    movement=6
    experience=35
    level=1
    alignment=lawful
    advances_to=Cornur Rascal
    cost=15
    usage=archer
    die_sound={SOUND_LIST:ORC_DIE}
    
    [attack]
        name=sword
        description=_"sword"
        icon="attacks/sword-human-short.png"
        type=blade
        range=melee
        damage=4
        number=3
	[/attack]
	
	[attack]
        name=bow
        description=_"bow"
        icon="attacks/bow.png"
        type=pierce
        range=ranged
        damage=5
        number=3
	[/attack]
	
	[attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-400

        [sound_frame]
            sound=horse-elf-canter.wav
        [/sound_frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}     
        [frame]
            image="units/cornurs/cornur-crook.png:400"
        [/frame]    
	[/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-445
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
        [frame]
            image="units/cornurs/cornur-crook.png:530"
        [/frame]
    [/attack_anim]
    
    {DEFENSE_ANIM "units/cornurs/cornur-crook.png" "units/cornurs/cornur-crook.png" {SOUND_LIST:HORSE_HIT}}  
[/unit_type]
