#textdomain wesnoth-millennium-era
[era]
	id=millennium_default
	name= _ "Millennium Era"
	# description= _ ""
	
	# | Battle for Wesnoth Default + Thelian and Vampire Factions

	{RANDOM_SIDE}
	{~add-ons/Millennium_Era/factions/vampires-default.cfg}
	{~add-ons/Millennium_Era/factions/thelians-default.cfg}
	{~add-ons/Millennium_Era/factions/centaurs-default.cfg}
	{~add-ons/Millennium_Era/factions/sylvans-default.cfg}
	{multiplayer/factions/rebels-default.cfg}
	{multiplayer/factions/loyalists-default.cfg}
	{multiplayer/factions/northerners-default.cfg}
	{multiplayer/factions/knalgans-default.cfg}
	{multiplayer/factions/undead-default.cfg}

#=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=#

	[event]
		name=unit placed
		first_time_only=no
		[filter]
			race=elf
		[/filter]
		{MODIFY_UNIT (id=$unit.id) undead_variation elf}
	[/event]
[/era]

