#textdomain wesnoth-millennium-era
 
[multiplayer_side]
    id=faction_centaurs_default
    name= _"Centaurs"
    image="units/centaurs/centaur-composite.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=random
    leader=Centaur Augur, Centaur Warrior, Centaur Composite, Cornur Battler, Cornur Dehorned Rascal, Cornur Warlock
    random_leader=Centaur Augur, Centaur Warrior, Centaur Composite, Cornur Battler, Cornur Dehorned Rascal, Cornur Warlock
    recruit=Centaur Archer, Centaur Fighter, Centaur Mystic, Centaur Lancer, Cornur Valiant, Cornur Shaman, Cornur Dehorned Crook
    [ai]
        recruitment_pattern=scout, fighter, archer, healer, fighter, archer, tank, special
    [/ai]
[/multiplayer_side]