#textdomain wesnoth-millennium-era
[unit_type]
	id=Vampire Savage
	name= _ "Savage"
	race=vampire
	image="units/vampires/savage.png"
	hitpoints=35
	movement_type=vampfoot
	movement=6
	experience=50
	level=1
	alignment=chaotic
	advances_to=Vampire Lunatic
	cost=20
	usage=mixed fighter
	die_sound={SOUND_LIST:OGRE_DIE}

	[abilities]
		{ABILITY_STONE_SLEEP}
	[/abilities]
	
	[attack]
		name=claws
		description=_ "claws"
		icon="attacks/claws.png"
		type=blade
		range=melee
		damage=6
		number=4
	[/attack]

	[attack]
		name=fangs
		description=_ "fangs"
		icon="attacks/fangs.png"
		type=blade
		range=melee
		damage=4
		number=4
		[specials]
			{WEAPON_SPECIAL_VAMPIRE_DRAIN}
		[/specials]
	[/attack]
	
	[attack_anim]
		[filter_attack]
			name=claws
		[/filter_attack]

		start_time=-200

		[frame]
			image="units/vampires/savage.png:300"
		[/frame]

		{SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=fangs
		[/filter_attack]
		start_time=-200
		[frame]
			duration=50
			image="units/vampires/savage.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/vampires/savage.png"
				sound=bite-small.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/vampires/savage.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=50
			image="units/vampires/savage.png"
		[/frame]
	[/attack_anim]
	
	{DEFENSE_ANIM "units/vampires/savage.png" "units/vampires/savage.png" {SOUND_LIST:OGRE_HIT}}
[/unit_type]
