#textdomain wesnoth-millennium-era
[unit_type]
	id=Vampire Winged
	name= _ "Winged"
	race=vampire
	image="units/vampires/winged.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
	hitpoints=26
	movement_type=vampfloat
	movement=8
	experience=36
	level=1
	alignment=chaotic
	advances_to=Vampire Wind Chaser
	cost=16
	usage=scout
	die_sound={SOUND_LIST:HUMAN_DIE}
	
	[attack]
		name=fangs
		description=_ "fangs"
		icon="attacks/fangs.png"
		type=blade
		range=melee
		damage=5
		number=2
		[specials]
			{WEAPON_SPECIAL_VAMPIRE_DRAIN}
		[/specials]
	[/attack]
	
	[attack]
		name=spear
		description=_"spear"
		type=pierce
		range=melee
		damage=6
		number=3
		icon=attacks/spear-wild.png
	[/attack]
	
	[attack]
		name=javelin
		description=_"javelin"
		type=pierce
		range=ranged
		damage=9
		number=1
		icon=attacks/spear-wild.png
	[/attack]

	[attack_anim]
		[filter_attack]
			name=javelin
		[/filter_attack]
		missile_start_time=-150
		[missile_frame]
			duration=150
			image="projectiles/spear-n.png"
			image_diagonal="projectiles/spear-ne.png"
		[/missile_frame]
		start_time=-250
		[frame]
			image="units/vampires/winged.png:100"
		[/frame]
		[frame]
			image="units/vampires/winged.png:50"
			sound={SOUND_LIST:THROW}
		[/frame]
		[frame]
			image="units/vampires/winged.png:150"
		[/frame]
		{SOUND:HIT spear.ogg 0}
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=spear
		[/filter_attack]
		start_time=-200
		[frame]
			image="units/vampires/winged.png:350"
		[/frame]
		{SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=fangs
		[/filter_attack]
		start_time=-200
		[frame]
			duration=50
			image="units/vampires/winged.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=200
				image="units/vampires/winged.png"
				sound=bite-small.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/vampires/winged.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=50
			image="units/vampires/winged.png"
		[/frame]
	[/attack_anim]
	
	{DEFENSE_ANIM "units/vampires/winged.png" "units/vampires/winged.png" {SOUND_LIST:HUMAN_HIT}}
[/unit_type]
