#textdomain wesnoth-millennium-era

[unit_type]
    id=Thelian Guardian
    name= _ "Guardian"
    race=thelian
    image="units/human-thelians/guardian.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=68
    movement_type=thelianfoot
    [resistance]
    	pierce=80
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=49
    usage=fighter
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=24
        number=2
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/human-thelians/guardian.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
    
    {V_STANDING_ANIM "units/human-thelians/guardian.png"}
    {DEFENSE_ANIM "units/human-thelians/guardian.png" "units/human-thelians/guardian.png" {SOUND_LIST:HUMAN_HIT}}  
[/unit_type]
