#textdomain wesnoth-Millenium_Era

#define WEAPON_SPECIAL_VAMPIRISM
    [plague]
        id=vampirism
        name= _ "vampirism"
        description= _ "When a unit is killed by a vampirism attack, that unit is replaced with a Vampire Bitten on the same side as the unit with the vampirism attack. This doesn’t work on Undead or units in villages."
        type=Vamp Bitten
    [/plague]
#enddef

#define ABILITY_STONE_SLEEP
    #the actual code which makes the ability work is in the Millenium_Era/units/gargoyles.cfg file
    [dummy]
        id=stone_sleep
        name= _ "stone sleep"
        description= _ "This unit turns to stone at day. While in stone form, it can't move or attack, but it regenerates +10 hitpoints per turn, and can't be attacked."
    [/dummy]
#enddef